body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Heledamad toonid tausta jaoks */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333; /* Valige sobiv värv */
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-column img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc; /* Ääriste kujundus */
}

.right-column .social-media a {
    display: inline-block;
    margin-right: 10px;
    /* Lisage siia ikoonide kujundus, nt kasutades FontAwesome'i ikoonikogu */
}
